<div class="row">
	<input data-ng-model="query"></input>
	<button data-ng-click="searchArticles()">Szukaj</button>
</div>

<div data-ng-repeat="article in articles" class="row">
	<div class="row">
		<h3>{{ article.title }}</h3>
	</div>
	<div class="row">

		<img style="float: left; padding: 5px;"
			data-ng-src="{{ getImageUrl(article) }}" width="160" height="120"
			data-ng-show="article.imageUrl" />
		<p>
			<label>Autor: </label> {{ article.author ? article.author :
			'nieznany'}}
		</p>
		<p>
			<label>Źródło: </label> {{article.sourceName ? article.sourceName :
			'nieznane'}}
		</p>
		<p>{{ article.description }}</p>
		<p>
			<a data-ng-href="{{getArticleUrl(article)}}"
				data-ng-show="article.articleUrl">Zobacz więcej</a>
		</p>
	</div>
</div>